<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  
<body>
  <div class="text-center">
   <div id="form">
     <p>
      <h1>Delete failed! Probably you did not type agree correctly</h1>

        <button type="button" class="btn btn-success btn-lg" href="/login" onClick='document.location.href="/login"'>
            Go Back to login
        </button>
    </div>
  </div>
</body>
</html>

